@import './animations.css';
@import './style.css';
@import './carousel.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Instrument Sans", "Roboto", "SF Pro Display Regular", "SF Pro Display Regular Placeholder", "-apple-system", "BlinkMacSystemFont", sans-serif;
  font-style: normal;
  font-weight: 500;
}

:root {
  color-scheme: dark;
}