@layer base {
  /* Background Color */
  .bg-primary {
    background-color: rgba(15, 12, 11, 1);
  }
  .bg-hover-none {
    background-color: rgba(28, 23, 21, 0);
  }
  .bg-hover {
    background-color: rgba(28, 23, 21, 1);
  }
  .bg-backdrop {
    background-color: rgba(15, 12, 11, 0.8);
    backdrop-filter: blur(5px);
  }

  /* Text Color */
  .text-inverse {
    color: #0f0d0b;
  }
  .text-primary {
    color: #faf9f7;
  }
  .text-secondary {
    color: #d1cec7;
  }
  .text-tertiary {
    color: #ada89f;
  }
  .text-help {
    color: #817b6f;
  }
  .text-placeholder {
    color: #5e5a4f;
  }

  /* Icon Color */
  .icon-primary {
    color: #817b6f;
  }
  .icon-hover {
    color: #817b6f;
  }

  /* Badge Color */
  .badge-gray-fill {
    background-color: rgba(32, 30, 24, 0.32);
  }
  .badge-gray-br {
    border-color: rgba(173, 168, 159, 0.24);
  }
  .badge-brand-fill {
    background-color: rgba(70, 14, 4, 0.24);
  }
  .badge-brand-br {
    border-color: rgba(255, 98, 10, 0.24);
  }
  .badge-green-fill {
    background-color: rgba(74, 220, 127, 0.1);
  }
  .badge-green-color {
    color: #4adc7f;
  }
  .badge-strong-green-fill {
    background-color: #4adc7f;
  }
  .badge-strong-green-color {
    color: #03411c;
  }
  .badge-purple-fill {
    background-color: rgba(122, 62, 234, 0.1);
  }
  .badge-neo-fill {
    background-color: rgba(153, 179, 13, 0.1);
  }
  .badge-red-fill {
    background-color: rgba(217, 39, 118, 0.1);
  }
  .badge-red-color {
    color: #f372b5;
  }

  /* Badge Icon Color */
  .badge-icon-brand-fill {
    background-image: linear-gradient(
      230deg,
      rgb(15, 12, 11) 6.75228%,
      rgba(255, 98, 10, 0.16) 50.0668%,
      rgb(15, 12, 11) 91.3058%
    );
  }
  .badge-icon-gray-fill {
    background-image: linear-gradient(
      230deg,
      rgba(15, 12, 11, 0) 6.75228%,
      rgb(28, 23, 21) 50.0668%,
      rgba(15, 12, 11, 0) 91.3058%
    );
  }
  .badge-icon-diamond-fill {
    background-image: linear-gradient(
      230deg,
      rgba(15, 12, 11, 0) 6.75228%,
      rgba(205, 48, 1, 0.24) 50.0668%,
      rgba(15, 12, 11, 0) 91.3058%
    );
  }

  /* Heading Text */
  .heading-error {
    font-size: 96px;
    line-height: 110%;
    font-weight: 400;
  }
  .heading-1 {
    font-size: 48px;
    line-height: 110%;
    font-weight: 400;
  }
  .heading-2 {
    font-size: 36px;
    line-height: 110%;
    font-weight: 400;
  }
  .heading-3 {
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
  }
  .heading-4 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
  .heading-5 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
  .heading-6 {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
  }
  .heading-7 {
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
  }

  /* Body Text */
  .body-1 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }
  .body-2 {
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
  }
  .body-3 {
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
  }
  .body-4 {
    font-size: 10px;
    line-height: 100%;
    font-weight: 400;
  }
  .body {
    font-size: 15px;
    line-height: 140%;
    font-weight: 400;
  }

  /* Rich Text */
  .rich-text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  /* Test */
  .test-fill {
    background-color: #252525;
  }

  /* Tag Tab */
  .tag-shadow {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08);
  }
  .tag-bg {
    background: rgba(32, 31, 34, 0);
  }
  .tag-bg-hover {
    background: rgb(32, 31, 34);
  }

  /* Sidebar Banner */
  .sidebar-banner-shadow {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  }

  /* Pricing Cards */
  .pricing-pro-icon-bg {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(40, 39, 42) 0%,
      rgb(23, 23, 25) 100%
    );
  }
  .pricing-team-icon-bg {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(225, 251, 35, 0) 0%,
      rgba(214, 245, 25, 0.2) 100%
    );
  }
  .pricing-enterprise-icon-bg {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(91, 108, 13) 0%,
      rgb(214, 245, 25) 100%
    );
  }

  /* Banner */
  .banner-bg {
    background: #fafde5;
  }
  .banner-border {
    border: 1px solid #d6f85c;
    border-radius: 8px;
  }
  .banner-shadow {
    box-shadow: 0 2px 4px -2px rgba(125, 172, 7, 0.2),
      0 4px 8px -2px rgba(125, 172, 7, 0.3);
  }
  .banner-text-color {
    color: #253901;
  }
  .banner-icon-text-color {
    color: rgb(149, 181, 0);
  }
  .banner-icon-text-hover {
    color: rgb(89, 108, 8);
  }
}
